html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.span_12 {
  padding-bottom: 20px;
}
#page-wrap {
  height: 100%;
  min-width: 240px;
  background-image: url('img/side_noise.png');
  background-repeat: repeat-x;
}
#page-wrap #header {
  height: 50px;
  background: rgba(0, 0, 0, 0.86);
  position: fixed;
  width: 100%;
}
#page-wrap #container-wrap {
  height: 100%;
  max-width: 1000px;
  margin: auto;
}
#page-wrap #container-wrap #content-wrap {
  float: left;
  width: 100%;
}
#page-wrap #container-wrap #content-wrap #content-col {
  margin: 0 16px 0 16px;
  background-color: white;
}
#page-wrap #container-wrap #content-wrap #content-col .banner-center {
  margin-top: 134px;
  padding-top: 16px;
  background-image: url('img/banner_center_noise.png');
  height: 308px;
}
#page-wrap #container-wrap #left-col {
  float: left;
  width: 16px;
  margin-left: -100%;
  display: table-cell;
  height: 100%;
  background-image: url('img/left-gradient.png');
}
#page-wrap #container-wrap #left-col #left-banner {
  margin-top: 150px;
  background-image: url('img/noise.png');
  height: 272px;
}
#page-wrap #container-wrap #left-col #left-banner .top-triangle {
  margin-bottom: 240px;
  float: left;
}
#page-wrap #container-wrap #left-col #left-banner .bottom-triangle {
  float: left;
}
#page-wrap #container-wrap #right-col {
  float: left;
  width: 16px;
  height: 100%;
  margin-left: -16px;
  background-image: url('img/right-gradient.png');
}
#page-wrap #container-wrap #right-col #right-banner {
  margin-top: 150px;
  background-image: url('img/noise.png');
  height: 272px;
}
#page-wrap #container-wrap #right-col #right-banner .top-triangle {
  margin-bottom: 240px;
  float: left;
}
#page-wrap #container-wrap #right-col #right-banner .bottom-triangle {
  float: left;
}
#page-wrap #footer {
  clear: left;
  width: 100%;
  background: black;
  color: #FFF;
  text-align: center;
  height: 30px;
  margin-top: -30px;
}
